.container,
.header {
  max-width: 120rem;
  margin: 0 auto;
  padding: 1.2rem 6rem;
}

.grid {
  display: grid;
}

.grid-2-col {
  grid-template-columns: 1fr 2fr;
}

.grid-4-col {
  grid-template-columns: repeat(4, 1fr);
}

.v-center {
  align-items: center;
}

.mb-24 {
  margin-bottom: 2.4rem;
}

.mb-18 {
  margin-bottom: 1.8rem;
}

.mb-14 {
  margin-bottom: 1.4rem;
}

.mb-12 {
  margin-bottom: 1.2rem;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.link:link,
.link:visited,
.btn:link,
.btn:visited {
  text-decoration: none;
  font-size: 1.4rem;
}

.btn:link,
.btn:visited {
  background: linear-gradient(45deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  color: #fff;
  padding: 1.2rem 3rem;
  border-radius: 1000px;
  display: inline-block;
}

.btn:hover,
.btn:active {
  background: linear-gradient(
    45deg,
    hsla(136, 65%, 51%, 0.75),
    hsla(192, 70%, 51%, 0.75)
  );
}

/*******************************************/
/* Frontend mentor style */
/*******************************************/
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
